<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_turno.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2024112801</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
				<key>dateExpires</key>
				<string>15/10/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
						<key>dateExpires</key>
						<string>15/10/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6M9TY295DR</string>
						<key>name</key>
						<string>We Handle Data, Lda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
						<key>dateExpires</key>
						<string>15/10/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6M9TY295DR</string>
						<key>name</key>
						<string>We Handle Data, Lda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
						<key>dateExpires</key>
						<string>15/10/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6M9TY295DR</string>
						<key>name</key>
						<string>We Handle Data, Lda</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
						<key>dateExpires</key>
						<string>15/10/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6M9TY295DR</string>
						<key>name</key>
						<string>We Handle Data, Lda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
						<key>dateExpires</key>
						<string>15/10/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6M9TY295DR</string>
						<key>name</key>
						<string>We Handle Data, Lda</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75854D7E81C9B20569075896D11F533DA3E3F8A6</string>
						<key>dateExpires</key>
						<string>15/10/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6M9TY295DR</string>
						<key>name</key>
						<string>We Handle Data, Lda</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6M9TY295DR.com.turno.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6M9TY295DR</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1725892d-300e-4699-a414-fa4f3bec590f</string>
				<key>dateExpires</key>
				<string>15/10/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.turno.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6M9TY295DR</string>
				<key>name</key>
				<string>We Handle Data, Lda</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.18</string>
		</dict>
	</array>
</dict>
</plist>
